@charset "UTF-8";
body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #444;
}

.title {
  color: #e41612;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #4C606B;
  color: #FFFFFF;
}

.header {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
}
.header__maincontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1px 0;
}
.header__logo {
  margin: 8px 18px 0px;
  width: 40px;
  height: 40px;
}
.header__ul {
  letter-spacing: 1px;
  list-style-type: none;
}
.header__ul :nth-child(1) {
  display: none;
}
.header__ul :nth-child(2) {
  display: none;
}
.header__ul :nth-child(3) {
  display: none;
}
.header__ul :nth-child(4) {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 200;
}
.header__ul :nth-child(4) a {
  margin-right: 18px;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}
.header__underline {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}

@media (min-width: 768px) {
  .header__maincontainer {
    padding: 0;
  }
  .header__logo {
    margin: 6px 40px 0;
    width: 45px;
    height: 45px;
  }
  .header__ul {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .header__ul :nth-child(1) {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
  }
  .header__ul :nth-child(2) {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
  }
  .header__ul :nth-child(3) {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
  }
  .header__ul :nth-child(4) {
    font-size: 20px;
  }
  .header__ul {
    display: flex;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .header__ul > li:nth-last-child(-n+2) {
    margin-right: 40px;
  }
}
.title {
  text-align: center;
  margin-top: 72px;
  font-family: "Bebas Neue", sans-serif;
  color: #FFFFFF;
  font-size: 91px;
  line-height: 100%;
  font-weight: 400;
}
.title__anim {
  display: block;
  overflow: hidden;
}
.title__anim span {
  transform: translateY(100%) rotate(-2deg);
  display: inline-block;
  animation: title 3s 0.2s forwards cubic-bezier(0, 1.21, 0.3, 1);
}
.title__anim:nth-child(2) span {
  animation-delay: 0.5s;
}

@keyframes title {
  to {
    transform: translateY(0) rotate(0deg);
  }
}
.intro p {
  font-family: "IBM Plex Serif", serif;
  margin: 18px 18px 0;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
}
.intro__dégradé {
  height: 126px;
  background: linear-gradient(to bottom, #4C606B, #28425B);
}

@media (min-width: 768px) {
  .title {
    margin: 100px 20px 0;
    font-size: 152px;
    line-height: 100%;
  }
  .title__anim {
    display: inline-block;
  }
  .intro p {
    margin-top: 0;
    font-size: 30px;
  }
  .intro__dégradé {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 228px;
  }
  .title__anim {
    display: inline-block;
  }
  .intro p {
    font-size: 45px;
  }
  .intro__dégradé {
    height: 300px;
  }
}
.aboutme__width {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.aboutme {
  background-color: #28425B;
}
.aboutme__title {
  font-family: "Bebas Neue", sans-serif;
  color: #D696C3;
  font-size: 41px;
  line-height: 100%;
  text-align: center;
  font-weight: 200;
  margin: 0 18px;
}
.aboutme p.para--first {
  margin: 36px 18px 18px;
}
.aboutme p {
  margin: 0 18px;
  font-size: 18px;
  line-height: 150%;
  font-family: "IBM Plex Serif", serif;
}
.aboutme__video {
  margin-top: 36px;
  width: 100%;
}
.aboutme__video2 {
  display: none;
}
.aboutme__dégradé {
  height: 126px;
  background: linear-gradient(to bottom, #28425B, #4C606B);
}

@media (min-width: 768px) {
  .aboutme__grille {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .aboutme__title {
    margin: 0;
    z-index: 1;
    font-size: 101px;
    line-height: 80%;
    grid-column: 2/7;
    text-align: start;
  }
  .aboutme p.para--first {
    margin: 40px 0px 20px;
  }
  .aboutme__container {
    position: relative;
    margin-top: 4px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .aboutme__container :nth-child(1) {
    grid-column: 2/7;
  }
  .aboutme__container :nth-child(2) {
    margin: 0;
    grid-column: 2/7;
  }
  .aboutme__container :nth-child(3) {
    margin: 0 20px;
    height: 100%;
    position: absolute;
    display: none;
    grid-column: 7/9;
  }
  .aboutme__video {
    display: none;
  }
  .aboutme__dégradé {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .aboutme__grille {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .aboutme__title {
    margin: 0;
    z-index: 1;
    font-size: 152px;
    line-height: 80%;
    grid-column: 2/9;
    text-align: start;
  }
  .aboutme p.para--first {
    margin: 40px 0px 20px;
  }
  .aboutme__container {
    position: relative;
    margin-top: 4px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .aboutme__container :nth-child(1) {
    grid-column: 2/7;
  }
  .aboutme__container :nth-child(2) {
    margin: 0;
    grid-column: 2/7;
  }
  .aboutme__container :nth-child(3) {
    height: 100%;
    position: absolute;
    display: block;
    grid-column: 8/11;
  }
  .aboutme__video {
    display: none;
  }
  .aboutme__dégradé {
    height: 300px;
  }
}
.projet__width {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.projet__title {
  margin-bottom: 54px;
  font-family: "Bebas Neue", sans-serif;
  color: #FFFFFF;
  font-size: 41px;
  line-height: 100%;
  text-align: center;
  font-weight: 200;
}
.projet__linktab {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  font-size: 27px;
  line-height: 100%;
  display: block;
  padding: 18px 0 16px;
  color: #FFFFFF;
}
.projet__projet {
  display: block;
  margin: 18px 0 36px;
  font-family: "IBM Plex Serif", serif;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  color: #FFFFFF;
}
.projet__tabcontent :nth-child(1) {
  font-size: 18px;
  line-height: 150%;
  font-family: "IBM Plex Serif", serif;
  display: block;
}
.projet__hidden {
  display: none;
}
.projet__linktab--active {
  color: #D696C3;
}
.projet__grille {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}
.projet__grid {
  grid-column: 2/6;
}
.projet__underline2 {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}
.projet__dégradé {
  height: 126px;
  background: linear-gradient(to bottom, #4C606B, #2E4A66);
}

@media (min-width: 768px) {
  .projet__container2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .projet__title {
    margin-bottom: 60px;
    grid-column: 2/9;
    font-size: 101px;
    line-height: 100%;
    text-align: start;
  }
  .projet__linktab {
    font-size: 68px;
    line-height: 100%;
    padding: 20px 0 12px;
  }
  .projet__projet {
    margin: 20px 0 40px;
    font-size: 20px;
  }
  .projet__tabcontent :nth-child(1) {
    font-size: 20px;
  }
  .projet__grille {
    grid-template-columns: repeat(10, 1fr);
  }
  .projet__grid {
    grid-column: 3/10;
  }
  .projet__dégradé {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .projet__container2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .projet__title {
    margin-bottom: 40px;
    grid-column: 2/9;
    font-size: 152px;
    line-height: 100%;
    text-align: start;
  }
  .projet__linktab {
    font-size: 101px;
    line-height: 100%;
    padding: 20px 0 10px;
  }
  .projet__projet {
    margin: 20px 0 40px;
    font-size: 20px;
  }
  .projet__tabcontent :nth-child(1) {
    font-size: 20px;
    grid-column: 1/6;
  }
  .projet__grille {
    grid-template-columns: repeat(12, 1fr);
  }
  .projet__grid {
    grid-column: 3/9;
  }
  .projet__dégradé {
    height: 300px;
  }
}
.stage {
  background-color: #2E4A66;
}
.stage__title {
  font-size: 41px;
  line-height: 100%;
  color: #D696C3;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-bottom: 36px;
}
.stage__secondtitle {
  font-size: 27px;
  line-height: 100%;
  color: #D696C3;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
}
.stage p {
  margin-top: 18px;
  font-size: 18px;
  line-height: 150%;
  font-family: "IBM Plex Serif", serif;
  width: 300px;
}
.stage__contenu {
  display: flex;
  margin: 0 12px;
}
.stage__container {
  height: 300vh;
}
.stage__sticky {
  overflow: hidden;
  position: sticky;
  top: 15%;
  height: 120vh;
}
.stage__scroll {
  top: 0;
  height: 100%;
  width: 498vw;
  will-change: transform;
  display: flex;
  /* si enleve img a coté */
  justify-content: space-between;
  margin: 0 5px;
}
.stage__bloc {
  margin: 36px 18px 0 0;
}

@media (min-width: 768px) {
  .stage__container {
    height: 400vh;
  }
  .stage__sticky {
    overflow: hidden;
    position: sticky;
    top: 15%;
    height: 100vh;
  }
  .stage__scroll {
    top: 0;
    height: 100%;
    width: 498vw;
    will-change: transform;
    display: flex;
    /* si enleve img a coté */
    justify-content: space-between;
    padding: 0 5vw;
  }
  .stage__grille {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .stage__title {
    text-align: start;
    grid-column: 2/6;
    font-size: 101px;
    line-height: 80%;
    color: #D696C3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
  }
  .stage__contenu {
    display: flex;
    margin: 0 120px;
  }
  .stage__secondtitle {
    font-size: 68px;
    line-height: 100%;
    color: #D696C3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
  }
  .stage p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
    font-family: "IBM Plex Serif", serif;
    width: 600px;
  }
  .stage__bloc {
    margin: 60px 40px 0;
  }
}
@media (min-width: 1200px) {
  .stage {
    background-color: #2E4A66;
  }
  .stage__container {
    height: 230vh;
  }
  .stage__sticky {
    overflow: hidden;
    position: sticky;
    top: 15%;
    height: 100vh;
  }
  .stage__scroll {
    top: 0;
    height: 100%;
    width: 498vw;
    will-change: transform;
    display: flex;
    /* si enleve img a coté */
    justify-content: space-between;
    padding: 0 5vw;
  }
  .stage__grille {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .stage__title {
    margin-bottom: 40px;
    grid-column: 2/7;
    font-size: 152px;
    line-height: 80%;
    color: #D696C3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
  }
  .stage__contenu {
    display: flex;
    margin: 0 120px;
  }
  .stage__secondtitle {
    font-size: 68px;
    line-height: 100%;
    color: #D696C3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
  }
  .stage p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
    font-family: "IBM Plex Serif", serif;
    width: 600px;
  }
  .stage__bloc {
    margin: 60px 40px 0;
  }
}
.aftereffects {
  background-color: #2E4A66;
}
.aftereffects__title {
  display: flex;
  color: #D696C3;
  font-size: 27px;
  line-height: 100%;
  justify-content: center;
}
.aftereffects__para p {
  font-size: 18px;
  line-height: 150%;
  font-family: "IBM Plex Serif", serif;
  padding: 18px 18px 0;
}
.aftereffects__rux {
  margin-top: 36px;
  width: 100%;
}

@media (min-width: 768px) {
  .aftereffects {
    background-color: #2E4A66;
  }
  .aftereffects__title {
    font-size: 101px;
    line-height: 100%;
    color: #D696C3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .aftereffects__para {
    display: flex;
    justify-content: center;
  }
  .aftereffects__para p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
    font-family: "IBM Plex Serif", serif;
    text-align: center;
    width: 600px;
  }
  .aftereffects__rux {
    display: none;
  }
}
@media (min-width: 1200px) {
  .aftereffects {
    background-color: #2E4A66;
  }
  .aftereffects__title {
    font-size: 101px;
    line-height: 100%;
    color: #D696C3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .aftereffects__para {
    display: flex;
    justify-content: center;
  }
  .aftereffects__para p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
    font-family: "IBM Plex Serif", serif;
    text-align: center;
    width: 600px;
  }
  .aftereffects__rux {
    display: none;
  }
}
.photoshop {
  background-color: #2E4A66;
  padding-top: 72px;
}
.photoshop__title {
  display: flex;
  color: #D696C3;
  font-size: 27px;
  line-height: 100%;
  justify-content: center;
}
.photoshop__grid p {
  font-size: 18px;
  line-height: 150%;
  font-family: "IBM Plex Serif", serif;
  padding: 18px 18px 0;
}
.photoshop__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photoshop__poster {
  margin: 36px 18px 0;
  width: 324px;
}

@media (min-width: 768px) {
  .photoshop {
    background-color: #2E4A66;
    padding-top: 200px;
  }
  .photoshop__grille {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .photoshop__title {
    display: block;
    grid-column: 2/8;
    font-size: 101px;
    line-height: 100%;
    color: #D696C3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .photoshop__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
    position: relative;
  }
  .photoshop__grid :nth-child(1) {
    grid-column: 2/7;
  }
  .photoshop__grid :nth-child(2) {
    grid-column: 2/7;
  }
  .photoshop__grid :nth-child(3) {
    grid-column: 8/10;
    position: absolute;
  }
  .photoshop p {
    padding: 0;
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
    font-family: "IBM Plex Serif", serif;
  }
  .photoshop__poster {
    -o-object-fit: cover;
       object-fit: cover;
    width: 216px;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .photoshop {
    background-color: #2E4A66;
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
  }
  .photoshop__title {
    display: block;
    grid-column: 2/8;
    font-size: 101px;
    line-height: 100%;
    color: #D696C3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .photoshop__contenu {
    grid-column: 2/7;
  }
  .photoshop__container {
    grid-column: 7/12;
  }
  .photoshop__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
    position: relative;
  }
  .photoshop__grid :nth-child(1) {
    grid-column: 2/7;
  }
  .photoshop__grid :nth-child(2) {
    grid-column: 2/7;
  }
  .photoshop__grid :nth-child(3) {
    grid-column: 8/10;
    position: absolute;
  }
  .photoshop p {
    padding: 0;
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
    font-family: "IBM Plex Serif", serif;
  }
  .photoshop__poster {
    -o-object-fit: cover;
       object-fit: cover;
    width: 216px;
    height: 100%;
  }
}
.footer {
  padding-top: 108px;
  background-color: #2E4A66;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 18px;
  list-style-type: none;
  justify-content: space-between;
  margin: 0 18px;
  font-family: "IBM Plex Serif", serif;
}
.footer__menu :nth-child(1) {
  grid-column: 1/3;
}
.footer__menu :nth-child(2) {
  grid-column: 4/5;
}
.footer__menu :nth-child(3) {
  grid-column: 5/6;
}
.footer__menu :nth-child(4) {
  grid-column: 6/7;
}
.footer__el {
  font-size: 18px;
  line-height: 150%;
}
.footer__el a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 18px;
  margin: 0 18px 18px;
}
.footer__container div {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  grid-column: 1/7;
}
.footer__end {
  height: 36px;
  background-color: #2E4A66;
}/*# sourceMappingURL=app.css.map */