@import 'utils/variables';
@import 'components/type';
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #4C606B;
    color: #FFFFFF;
}
// Header //////////////////////////////////////////////////////////////////////
.header{
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 10;

    &__maincontainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 1px 0;
    }

    &__logo{
        margin: 8px 18px 0px;
        width: 40px;
        height: 40px;
    }

    &__ul{
        letter-spacing: 1px;
        list-style-type: none;

        :nth-child(1){
            display: none;
        }
        :nth-child(2){
            display: none;
        }
        :nth-child(3){
            display: none;
        }
        :nth-child(4){
            font-family: "Bebas Neue", sans-serif;
            font-size: 18px;
            line-height: 150%;
            font-weight: 200;

            a{
                margin-right: 18px;
                display: block;
                text-decoration: none;
                color: #FFFFFF;
            }
            
        }
    }

    &__underline{
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
    }
}
// TABLETTE
@media(min-width:768px){
    .header{

        &__maincontainer{
            padding: 0;
        }

        &__logo{
            margin: 6px 40px 0;
            width: 45px;
            height: 45px;
        }
    
        &__ul{
            font-family: "Bebas Neue", sans-serif;
            font-size: 20px;
            letter-spacing: 2px;
    
            :nth-child(1){
                display: block;
                text-decoration: none;
                color: #FFFFFF;
            }
            :nth-child(2){
                display: block;
                text-decoration: none;
                color: #FFFFFF;
            }
            :nth-child(3){
                display: block;
                text-decoration: none;
                color: #FFFFFF;
            }
            :nth-child(4){
                font-size: 20px;
            }
        }
    }
    .header__ul{
        display: flex;
        column-gap: 40px;
    }
    .header__ul > li:nth-last-child(-n+2){
        margin-right: 40px;
    }
}
// DESKTOP
// Pareil que pour tablette

//SECTION 1 -- INTRODUCTION ////////////////////////////////////////////////////
.title{
    text-align: center;
    margin-top: 72px;
    font-family: "Bebas Neue", sans-serif;
    color: #FFFFFF;
    font-size: 91px;
    line-height: 100%;
    font-weight: 400;

    &__anim{
        display: block;
        overflow: hidden;

        span{
            transform: translateY(100%) rotate(-2deg);
            display: inline-block;
        
            animation: title 3s .2s forwards cubic-bezier(0, 1.21, 0.3, 1);
        }

        &:nth-child(2) span{
            animation-delay: .5s;
        }
    }
}
@keyframes title{
    to{
        transform: translateY(0) rotate(0deg);
    }
}

.intro{

    p{
        font-family: "IBM Plex Serif", serif;
        margin: 36px 18px 0;
        text-align: center;
        font-size: 18px;
        line-height: 150%;
    }

    &__dégradé{
        height: 126px;
        background: linear-gradient(
            to bottom,
            #4C606B,
            #28425B,
        );
    }
}
//TABLETTE
@media(min-width:768px){
    .title{
        margin: 100px 20px 0;
        font-size: 152px;
       
        &__anim{
            display: inline-block;
        }
     }
     
     .intro{
     
        p{
            margin-top: 0;
            font-size: 30px;
        }
     
     
        &__dégradé{
            height: 200px;
        }
     }
}
// DESKTOP
@media(min-width:1200px){
    .title{
        font-size: 228px;
       
        &__anim{
            display: inline-block;
        }
     }
     
     .intro{
     
        p{
            font-size: 45px;
        }
     
        &__dégradé{
            height: 300px;
            background: linear-gradient(
                to bottom,
                #4C606B,
                #28405C,
            );
        }
     }
}

//SECTION 2 -- ABOUT ME ///////////////////////////////////////////////////////
.aboutme__width{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.aboutme{
    background-color: #28425B;

    &__title{
        font-family: "Bebas Neue", sans-serif;
        color: #D696C3;
        font-size: 41px;
        line-height: 100%;
        text-align: center;
        font-weight: 400;
        margin: 0 18px;
    }

    p.para--first{
        margin: 36px 18px 18px;
    }
    p{
        margin: 0 18px;
        font-size: 18px;
        line-height: 150%;
        font-family: "IBM Plex Serif", serif;
    }

    &__video{
        margin-top: 36px;
        width: 100%;
    }

    &__video2{
        display: none;
    }

    &__dégradé{
        height: 126px;
        background: linear-gradient(
            to bottom,
            #28425B,
            #4C606B,
        );
    }
}
// TABLETTE
@media(min-width:768px){
    .aboutme{

        &__grille{
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: auto;
            gap: 0 20px;
        }
        &__title{
            margin: 0;
            font-size: 101px;
            line-height: 80%;
            grid-column: 2/8;
            text-align: start;
        }

        p.para--first{
            margin: 40px 0px 20px;
        }

        &__container{
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: auto;
            gap: 0 20px;

            :nth-child(1){
                grid-column: 2/7;
            }
            :nth-child(2){
                margin: 0;
                grid-column: 2/7;
            }
        }

        &__video{
            display: none;
        }

        &__dégradé{
            height: 200px;
        }
    }
}
// DESKTOP
@media(min-width:1200px){
    .aboutme{
        background-color: #28405C;

        &__grille{
            grid-template-columns: repeat(12, 1fr);
        }
        &__title{
            z-index: 1;
            font-size: 152px;
            grid-column: 2/9;
        }

        &__container{
            position: relative;
            margin-top: 4px;
            grid-template-columns: repeat(12, 1fr);

            :nth-child(3){
                height: 100%;
                position: absolute;
                display: block;
                grid-column: 8/11;
            }
        }

        &__dégradé{
            height: 300px;
            background: linear-gradient(
                to bottom,
                #28405C,
                #4C606B,
            );
        }
    }
}

// SECTION 3 -- PROJET //////////////////////////////////////////////////////
.projet__width{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.projet{

    &__title{
        margin-bottom: 36px;
        font-family: "Bebas Neue", sans-serif;
        color: #FFFFFF;
        font-size: 41px;
        line-height: 100%;
        text-align: center;
        font-weight: 200;
    }

    &__linktab{
        font-family: "Bebas Neue", sans-serif;
        text-decoration: none;
        font-size: 27px;
        line-height: 100%;
        display: block;
        padding: 18px 0 15px;
        color: #FFFFFF;
        letter-spacing: 1px;
        font-weight: 400;
    }

    &__projet{
        display: block;
        margin: 18px 0 36px;
        font-family: "IBM Plex Serif", serif;
        font-size: 18px;
        line-height: 150%;
        text-decoration: none;
        color: #FFFFFF;
    }

    &__hidden{
        display: none;
    }

    &__linktab--active{
        color: #D696C3
    }

    &__grille{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }

    &__grid{
        grid-column: 2/6;
    }

    &__underline2{
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
    }

    &__dégradé{
        height: 126px;
        background: linear-gradient(
            to bottom,
            #4C606B,
            #2E4A66,
        );
    }
}
// TABLETTE
@media(min-width:768px){
    .projet{

        &__container2{
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: auto;
            gap: 0 20px;
        }

        &__title{
            margin-bottom: 60px;
            grid-column: 2/9;
            font-size: 101px;
            line-height: 100%;
            text-align: start;
        }

        &__linktab{
            font-size: 68px;
            line-height: 100%;
            padding: 20px 0 12px;
        }

        &__projet{
            margin: 20px 0 40px;
            font-size: 30px;
        }

        &__tabcontent{
        
            :nth-child(1){
                font-size: 20px;
            }
        }


        &__grille{
            grid-template-columns: repeat(10, 1fr);
        }

        &__grid{
            grid-column: 2/8;
        }

        &__dégradé{
            height: 200px;
        }
    }
}
// DESKTOP
@media(min-width:1200px){
    .projet{

        &__container2{
            grid-template-columns: repeat(12, 1fr);
        }
        &__title{
            grid-column: 2/9;
            font-size: 152px;
        }

        &__linktab{
            font-size: 101px;
            padding: 20px 0 9px;
        }

        &__grille{
            grid-template-columns: repeat(12, 1fr);
        }

        &__grid{
            grid-column: 2/9;
        }

        &__dégradé{
            height: 300px;
        }
    }
}

// SECTION 4 -- LE STAGE /////////////////////////////////////////////////////////
.stage{
    background-color: #2E4A66;

    &__title{
        font-size: 41px;
        line-height: 100%;
        color: #D696C3;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        text-align: center;
        margin-bottom: 18px;
    }

    &__secondtitle{
        font-size: 27px;
        line-height: 100%;
        color: #D696C3;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
    }

    p{
        margin-top: 18px;
        font-size: 18px;
        line-height: 150%;
        font-family: "IBM Plex Serif", serif;
        width: 300px;
    }

    &__contenu{
        display: flex;
        margin: 0 18px;
    }

    &__container{
        height: 400vh;
    }
         
         
    &__sticky{
        overflow: hidden;
        position: sticky;
        top: 10%;
        height: 90vh;
    }
         
         
    &__scroll{
        top: 0;
        height: 100%;
        width: 400vw;
        will-change: transform;
        display: flex;
        /* si enleve img a coté */
        justify-content: space-between;
        margin: 0 5px;
    }

    &__bloc{
        margin: 36px 36px 0 0;
    }
}
// TABLETTE
@media(min-width:768px){
    .stage{
     
        &__sticky{
            top: 9%;
            height: 100vh;
        }
     
     
        &__scroll{
            width: 350vw;
        }
     
     
        &__grille{
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: auto;
            gap: 0 20px;
        }
     
     
        &__title{
            text-align: start;
            grid-column: 2/6;
            font-size: 101px;
            line-height: 80%;
        }
     
     
        &__contenu{
            margin: 0 120px;
        }
     
     
        &__secondtitle{
            font-size: 68px;
        }
     
     
            p{
                margin-top: 20px;
                font-size: 20px;
                width: 600px;
            }
        
        &__bloc{
                margin: 60px 40px 0;
        }
    }
}
// DESKTOP
@media(min-width:1200px){
    .stage{

        &__container{
            height: 230vh;
        }
     
     
        &__sticky{
            top: 12%;
            height: 100vh;
        }
     
     
        &__scroll{
            width: 498vw;
        }
     
     
        &__grille{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto;
            gap: 0 20px;
        }
     
     
        &__title{
            margin-bottom: 40px;
            grid-column: 2/7;
            font-size: 152px;
        }
     
     
        &__contenu{
            margin: 0 120px;
        }
     
     
        &__secondtitle{
            font-size: 68px;
        }
    }
}

// SECTION 5 -- AFTER EFFECTS ////////////////////////////////////////////////////////
.aftereffects{
    background-color: #2E4A66;

    &__title{
        font-size: 27px;
        line-height: 100%;
        color: #D696C3;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 200;
        text-align: center;
        margin-bottom: 18px;
    }

    p{
        font-size: 18px;
        color: #FFFFFF;
        line-height: 150%;
        font-family: "IBM Plex Serif", serif;
        margin: 0 18px;
    }

    &__grid{
        margin: 18px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        gap: 0 18px;
    }

    &__rux{
        width: 100%;
        grid-column: 1/7;
    }

    &__container{
        display: none;
    }
}
// TABLETTE
@media(min-width:768px){
    .aftereffects{

        &__title{
            font-size: 68px;
            margin-bottom: 20px;
        }

        p{
            font-size: 20px;
            text-align: center;
            margin: 0 100px;
        }

        &__rux{
            display: none;
        }

        &__container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__edit{
            margin-top: 80px;
            width: 400px;
        }

        &__edit1{
            display: none;
        }

        &__edit2{
            display: none;
        }
        &__edit3{
            display: none;
        }
    }
}
// DESKTOP
@media(min-width:1200px){
    .aftereffects{

        &__title{
            font-size: 101px;
            margin-bottom: 40px;
        }

        p{
            font-size: 20px;
            text-align: center;
            margin: 0 400px;
        }

        &__container{
            display: grid;
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: auto;
            gap: 0 40px;
        }

        &__edit{
            display: none;
        }
        &__edit1{
            margin-top: 90px;
            display: block;
            grid-column: 3/6;
            width: 100%;
        }
        &__edit2{
            margin-top: 40px;
            display: block;
            grid-column: 6/9;
            width: 100%;
        }
        &__edit3{
            margin-top: 90px;
            display: block;
            grid-column: 9/12;
            width: 100%;
        }
    }
}

// SECTION 6 -- PHOTOSHOP
.photoshop{
    background-color: #2E4A66;

    &__title{
        font-size: 27px;
        line-height: 100%;
        color: #D696C3;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 200;
        text-align: center;
        padding: 80px 0 18px;
    }

    p{
        font-size: 18px;
        color: #FFFFFF;
        line-height: 150%;
        font-family: "IBM Plex Serif", serif;
        margin: 0 18px;
    }

    &__container{

        :nth-child(3){
            margin-top: 18px;
        }
    }

    &__posterbox{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        gap: 0 20px;
        margin: 36px 18px 0;
    }

    &__poster{
        grid-column: 2/6;
        width: 100%;
    }
}
// TABLETTE 
@media(min-width:768px){
    .photoshop{

        &__title{
            padding-top: 160px;
            font-size: 101px;
        }

        p{
            font-size: 20px;
            margin: 22px 145px 0;
        }

        &__posterbox{
            margin: 80px 18px 0;
        }
    }
}
// DESKTOP
@media(min-width:1200px){
    .photoshop{

        &__title{
            text-align: start;
            padding: 0px 0 18px;
        }

        p{
            margin: 0;
        }

        &__container{
            padding-top: 200px;
            display: flex;
            gap: 140px;
            max-width: 1100px;
            margin-left: auto;
            margin-right: auto;
        }

        &__poster{
            width: 400px;
        }
    }
}

 







// SECTION 7 -- FOOTER
.footer{
    padding-top: 108px;
    background-color: #2E4A66;

    &__menu{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        gap: 18px;
        list-style-type: none;
        justify-content: space-between;
        margin: 0 18px;
        font-family: "IBM Plex Serif", serif;

        :nth-child(1){
            grid-column: 1/3;
        }
        :nth-child(2){
            grid-column: 4/5;
        }
        :nth-child(3){
            grid-column: 5/6;
        }
        :nth-child(4){
            grid-column: 6/7;
        }
    }

    &__el{
        font-size: 18px;
        line-height: 150%;

        a{
            text-decoration: none;
            color: #FFFFFF;
        }
    }

    &__container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        gap: 18px;
        margin: 0 18px 18px;

        div{
            width: 100%;
            height: 1px;
            background-color: #FFFFFF;
            grid-column: 1/7;
        }
    }

    &__end{
        height: 36px;
        background-color: #2E4A66;
    }
}


// HOVER DES LIENS /////////////////////////////////////////////
.projet__image-container {
    position: absolute;
    display: none; 
    pointer-events: none; 
    z-index: 1000;
}
.projet__image {
    width: 200px; 
    height: auto;
    display: block;
}
.projet__linktab {
    position: relative;
}
@media(min-width:768px){
    .projet__image {
        width: 300px; 
    }
}

// HOVER DES LIENS "visiter le projet" du system tabs
.projet__projet--hover{
    position: relative;
    padding: 0 15px;
}
.projet__projet--hover::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #2E4A66;
    z-index: -1;
    transition: .2s all;
}
.projet__projet--hover:hover::before{
    width: 160px;
}
.projet__projet--hover:hover{
    color: #D696C3;
}
@media(min-width:768px){
    .projet__projet--hover:hover::before{
        width: 250px;
    }
}
